<h3>Wine List</h3>

<p>Recently viewed <%= @wine ? @wine.brand : "Haven't viewed any wines"%></p>

<ul>
    <% @wines.each do |wine| %>
        <li><a href="/wines/<%= wine.id %>"><%= wine.brand %></a></li>
    <% end %>
</ul>