<h3 class="red-text darken-3">Add Wine</h3>

<form action="/wines" method="post">
    <div class="input-field">
        <input id="brand" name="wine[brand]" type="text" class="validate">
        <label for="brand">Brand</label>
    </div>
    <div class="input-field">
        <input id="winery" name="wine[winery]" type="text" class="validate">
        <label for="winery">Winery</label>
    </div>
    <div class="input-field col s12">
        <select name="wine[state]">
        <option value="" disabled selected>Choose State</option>
        <option value="california">California</option>
        <option value="oregon">Oregon</option>
        <option value="colorado">Colorado</option>
        </select>
        <label>State</label>
    </div>
    <!--<div class="input-field">
        <input id="state" name="wine[state]" type="text" class="validate">
        <label for="state">State</label>
    </div>-->
    <div class="input-field">
        <input id="county" name="wine[county]" type="text" class="validate">
        <label for="county">County</label>
    </div>
    <div class="input-field">
        <input id="varietal" name="wine[varietal]" type="text" class="validate">
        <label for="varietal">Varietal</label>
    </div>
    <div class="input-field col s12">
        <select name="wine[vintage]" id="year"></select>
        <label>Vintage</label>
    </div>
    <div class="input-field">
        <input id="price" name="wine[price]" type="text" class="validate">
        <label for="price">Price</label>
    </div>

    <input type="submit" value="Add Wine" class="btn red darken-3" style="margin-left: 50%">
</form><br>

<script>
   $(document).ready(function(){
    $('select').formSelect();
  });


    var year = 1950;
    var till = 2021;
    var options = "";
    for(var y=year; y<=till; y++){
    options += "<option>"+ y +"</option>";
    }
    document.getElementById("year").innerHTML = options;
</script>